<template>
    <div>
        <ul>
            <h1>Kamar</h1>
            <li v-for="(message, index) in messages" :key="index">
                {{ message }}
            </li>
        </ul>
        <input v-model="newMessage" @keyup.enter="sendMessage" placeholder="Type your message">
    </div>
</template>
  
<script>
import Echo from "laravel-echo";
import Pusher from "pusher-js";
export default {
    data() {
        return {
            messages: [],
            newMessage: "Hello",
        };
    },
    mounted() {
        window.Pusher = Pusher;

        window.Echo = new Echo({
            broadcaster: "pusher",
            key: "translate", // Replace with your Pusher app key
            cluster: "mt1",    // Replace with your Pusher app cluster
            wsHost: "laravel-websocket.taygita.com",
            wsPort: 6001,
            wssPort: 6001,
            // forceTLS: true,    // Set to true if your Laravel Echo server uses HTTPS
            enabledTransports: ["ws", "wss"],
            disableStats: true,
        });

        console.log("output console check")
        window.Echo.channel('test-channel')
            .listen('TestEvent', (event) => {
                this.messages.push(event.message);
                console.log("push noti");
            });
    },
    methods: {
        sendMessage() {
            axios.post('/send-message', { message: this.newMessage })
                .then((response) => {
                    console.log(response.data);
                    this.newMessage = '';
                })
                .catch((error) => {
                    console.error(error);
                });
        },
    },
};
</script>
  